.body{
 font-family: Roboto
 margin:0 !important;
 padding:0 !important;
 overflow-x:hidden !important;
}
.container-fluid{
    padding:0 !important;
    margin:0 !important;
}
.all{
    margin-top:100px !important;
}
.top-bar{
    padding:10px;
}
.top-skip-bar{
    font: normal 14px Roboto;

}
.top-skip-bar a{
    color: #707070;
    text-decoration:none;
}
.header-title{
    padding-top: 55px;
    padding-left: 45px !important;
    color: #022539;
    font-size:28px;
    display: inline-block
}
.icons{
    padding: 5px;
}

.header-menu{
    background: #008080E6 0% 0% no-repeat padding-box;
    height:70px;
}
.header-menu a{
   color: #FFFFFF;
   font-size:18px;
   padding-left: 17px !important;
}
.navbar-expand-lg{
    padding:10px 0 0 105px;
}
.home_info_data{
    padding-top: 35px;
}
.home_info{
    font-size:16px;
    padding-left: 15px !important;
}
.sti-margin{
    margin: 20px 10px!important;
    padding-top:50px;
}
.sti-data-arch{
    background-color:#C8EAE1;
    height: 252px;
}
.sti-div{
    background-color:#FFFFFF;
    position:relative;
    bottom:150px;
}

.sti-data{
    font-size:30px;
    color: #3A3B3B;
    padding-top:20px;
}
.data-arch{
    color: #008080;
    font-size:20px;
}
.home-sti-data-text{
    font-size:28px;
}
.home-sti-data-text a{
    color: #022539;
}
.home-sti-data-img{
    margin-top:10px;
}
.sti-infra-bg{
    background-image: url("/static/images/Infra_BG.png")
}
.highlight-bg{
    background-color: #F8F8F8;
    padding-top:40px !important;
    height: 20%;
}
.sti-high-text{
    color: #022539;
    font-weight:bold;
    font-size:30px;
    padding-top: 20px;
}
.sti-high-internal-600, .sti-high-internal-plus{
    color:#008080;
    font-size:44px;
}
.sti-high-internal{
    color:#008080;
    font-size:35px;
}
.sti-high-internal-text{
    color:#3D2514;
    font-size:18px;
}
.sti-internal-div{
    border-right: 2px solid #C8EAE1;
    border-left: 2px solid #C8EAE1;
}
.policy-data{
    background-color: #3B877F;
    color: #FFFFFF;
    font-size:30px;
}
.policy-data span{
    padding-top: 30px;
}
.home-policy-data-text{
    font-size:28px;
}
.home-policy-data-text a{
    color: #FED9AA;
}


.spt-title{
    text-align: center;
    font-size: 28px;
    color: #3D2514;
}

.spt-subtext{
    text-align: left;
    font: 20px;
    color: #3D3D3D;
    padding:0 10px 0 10px;
}
.init-browse{
    padding: 20px 0 0 0;
}
.init-browse a{
    color: #198146;
    font-weight:bold;
    font-size: 16px;
}

ul.banner-border {
    margin: 20px 0 0 0;
}
ul.banner-border li {
	display: inline;
}
.footer{
    position:relative;
    font-size: 16px;
}
.footer-text{
    position:absolute;
    color: #FFFFFF;
    bottom:70px;
}
.footer-menu{
    position:absolute;
    top: 40px;
    color: #FFFFFF;
    right: -350px;
}
.footer-menu a{
    text-decoration: none;
    color: #FFFFFF;
}

.text-justify {
  text-align: justify;
}