{% extends 'index.html' %}
{% load static %}

<title>{% block title %}About{% endblock %}</title>
{% block content %}
<div class="container-fluid">
    <img src="{% static 'images/technology_slide.png' %}" width="100%" height="200px"/>
    <div class="container all">
        <div class="col-lg-12 col-md-12 abt-heading">
            <h3>About STI</h3>
            <h4>Genesis</h4>
            <div class="col-lg-12 col-md-12 abt-text">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <p>
                            The Government of Punjab (GoP) is taking focused initiatives to make Punjab a Hub of Science Technology and Innovation. The state-of-the-art scientific &
                            research institutions, vibrant incubation & start-up ecosystem, strong techpreneurship base are the strong indicators paving way for Innovation Roadmap of
                            Punjab. Further, multiple initiatives are being taken for stimulating State’s Innovation & Entrepreneurial Ecosystem<br>Department of Science, Technology and Environment - GoP has launched Mission
                            Innovate Punjab with aim to build robust research and innovation culture for boosting competitiveness, growth, generating quality jobs and achieving SDGs.
                            Punjab State Council for Science & Technology (PSCST) is a state level node of DST - GoI and is spearheading Mission Innovate Punjab to bring Science,
                            Technology & Innovation at forefront for accelerating socio-economic development of the State. DST has appreciated PSCST as a model S&T Council in
                            the country.<br><br>To quantify STI Ecosystem vis-a-vis strength and weakness of Punjab, in line with new National STI Policy, PSCST formulated and submitted a
                            proposal on “Strategic Framework for Mapping and Strengthening STI  Ecosystem of Punjab”. Department of Science & Technology, Govt. of India
                            has sanctioned the project and urged PSCST to build STI Indicator Framework to serve as baseline document for emulation by other states.Hence, the model framework has been developed by PSCST and
                            present STI Observatory is being setup as a single-window portal to capture, manage, and ease the flow of knowledge among stakeholders.

                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 abt-icon-bg text-center ">
                        <img src="{% static 'images/abt-icon-1.png' %}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 text-center all">
        <div class="row">
            <div class="col-lg-4 col-md-4"></div>
            <div class="col-lg-6 col-md-6 text-center">
                <nav id="tech-nav" class="container">
                    <div id="nav-tab" class="nav text-center nav-tabs" role="tablist" style="border: none;">
                        <button id="nav-initiative-tab"  class="about-nav-link active" role="tab" type="button" data-bs-toggle="tab" data-bs-target="#nav-initiative" aria-controls="nav-initiative" aria-selected="true">An Initiative of</button>
                        <button id="nav-supported-tab" class="about-nav-link" role="tab" type="button" data-bs-toggle="tab" data-bs-target="#nav-supported" aria-controls="nav-supported" aria-selected="false">Supported By</button>
                        <button id="nav-collab-tab"  class="about-nav-link" role="tab" type="button" data-bs-toggle="tab" data-bs-target="#nav-collab" aria-controls="nav-collab" aria-selected="false">Collaborators</button>
                    </div>
                </nav>
            </div>
            <div id="nav-tabContent" class="about tab-content">
                <div id="nav-initiative" class="tab-pane container fade show active all" role="tabpanel" aria-labelledby="nav-initiative-tab">
                    <div class="col-lg-12 col-md-12 text-center">
                        <div class="row">
                             <div class="col-lg-6 col-md-6 text-end">
                                <img src="{% static 'images/abt-pscst.png' %}"/>
                             </div>
                            <div class="col-lg-6 col-md-6 text-start abt-pscst-div">
                                <span class="abt-pscst">PSCST, GoP</span><br>
                                <span class="abt-initiate-text"> Punjab State Council for Science and Technology </span><br>
                                <span class="abt-gop-text"> Government of Punjab</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="nav-supported" class="tab-pane container fade all" role="tabpanel" aria-labelledby="nav-supported-tab">
                     <div class="col-lg-12 col-md-12 text-center">
                        <div class="row">
                             <div class="col-lg-6 col-md-6 text-end">
                                <img src="{% static 'images/abt-dst.png' %}"/>
                             </div>
                            <div class="col-lg-6 col-md-6 text-start abt-pscst-div">
                                <span class="abt-pscst">DST, GoI</span><br>
                                <span class="abt-initiate-text"> Department of Science and Technology </span><br>
                                <span class="abt-gop-text"> Government of India</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="nav-collab" class="tab-pane container fade all" role="tabpanel" aria-labelledby="nav-collab-tab">
                    <div class="col-lg-12 col-md-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 text-center abt-pscst-div">
                                <div class="row">
                                     <div class="col-lg-6 col-md-6 text-center">
                                        <img src="{% static 'images/abt-ctier.png' %}"/>
                                     </div>
                                    <div class="col-lg-6 col-md-6 text-start">
                                        <span class="abt-initiate-text">Center for Technology, Innovation and Economic Research</span><br>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 text-center abt-cdac-div">
                                <div class="row">
                                     <div class="col-lg-6 col-md-6 text-center ">
                                        <img src="{% static 'images/abt-cdac.png' %}"/>
                                     </div>
                                    <div class="col-lg-6 col-md-6 text-start">
                                        <span class="abt-initiate-text">Centre for Development of Advanced Computing, Mohali</span><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3"></div>
        </div>
    </div>
    <div class="col-lg-12 col-sm-12 col-md-12 sti-data sti-data-arch" style="font-size:35px">
        <div class="container">
            <p>Contributors</p>
            <div class="col-lg-12 col-sm-12 col-md-12 data-arch" style="font-size:20px">
                <span>For Phase I, Data has been captured from 45 Research Institutions and Universities and showcased. The Data collection and updation process is ongoing, involving more
stakeholders viz Other Institutions, Universities, Industry, Incubators, Development Departments etc</span></div>
            <div class="col-lg-12 col-sm-12 col-md-12 abt-contrib-div">
                 <div class="row contrib-carousel owl-carousel">
                    {% for contrib in contributor %}
                     <div class="first-contrib-img">
                         <a href="#" target="_blank" onclick="return external_link();">
                            <img src="{{ contrib.contributor_image.url }}" alt="contrib.contributor_title" width="100px" height="100px"/>
                         </a>
                     </div>
                     {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
 {% endblock %}
{% block javascript %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>
<script type="text/javascript">
    $('.contrib-carousel').owlCarousel({

        autoHeight: true,
        autoplayTimeout: 2000,
        smartSpeed: 800,
        rewind: true,
        nav: true,
        items:5,
        navText: [
        "<i class='fa fa-caret-left'></i>",
        "<i class='fa fa-caret-right'></i>"
        ],
        autoplay: true,
        autoplayHoverPause: true,
        dots:false,
    })
</script>

{% endblock javascript %}


