{% extends 'Home.html' %}
<title>{% block title %}Contact Us{% endblock %}</title>
{% block content %}
<div class="container">
    <div class="col-lg-12 col-md-12">
        <div class="bread">
            <nav class="container" style="--bs-breadcrumb-divider: '>>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Home' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact</li>
                </ol>
            </nav>
        </div>
        <h3>Contact Us</h3>
        <div class="row">
            <div class="col-lg-8 col-md-8 text-justify">

            </div>
            <div>

            </div>
        </div>

    </div>
</div>
 {% endblock %}
