{% extends 'Home.html' %}
<title>{% block title %}Help{% endblock %}</title>
{% block content %}
<div class="bread">
        <nav class="container" style="--bs-breadcrumb-divider: '>>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'Home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Help</li>
            </ol>
        </nav>
     </div>
<div class="container">
    <div class="col-lg-12 col-md-12">
        <h3>Help</h3>
        <div class="row">
          <div>Viewing Information in Various File Formats
The information provided by this website is available in various file formats, such as Portable Document Format (PDF), Word, Excel and PowerPoint. To view the information properly, your browser needs to have the required plug-ins or software. For example, the Adobe Flash software is required to view the Flash files. In case your system does not have this software, you can download it from the Internet for free. The table lists the required plug-ins needed to view the information in various file formats.

Plug-in for alternate document types
Document Type	Plug-in for Download
Portable Document Format (PDF) files	PDF ImageAdobe Acrobat Reader Convert a PDF file online into HTML or text format
Word files	Word Icon ImageWord Viewer (in any version till 2003) Microsoft Office Compatibility Pack for Word (for 2007 version)
Excel files	Excel Icon ImageExcel Viewer 2003 (in any version till 2003) Microsoft Office Compatibility Pack for Excel (for 2007 version)
PowerPoint presentations	PowerPoint ImagePowerPoint Viewer 2003 (in any version till 2003) Microsoft Office Compatibility Pack for PowerPoint (for 2007 version)
Flash content	Flash ImageAdobe Flash Player</div>
        </div>

    </div>
</div>
 {% endblock %}