{% extends 'Home.html' %}
{% load static %}

<title>{% block title %}Incubators{% endblock %}</title>
{% block content %}
<div class="container-fluid">
    <img src="{% static 'images/technology_slide.png' %}" width="100%" height="200px"/>
    <div class="bread">
        <nav class="container" style="--bs-breadcrumb-divider: '>>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'Home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Incubators</li>
            </ol>
        </nav>
     </div>
    <div class="container all">
        <div class="col-lg-12 col-md-12 abt-heading">
            <h3>Incubators</h3>
            <h4>Incubation & Startup Landscape</h4>
            <p >Punjab is among the top 6 most innovative states as per the latest India Innovation Index Ranking and has been recognized as 'Leader' for
            developing strong startup ecosystem. The State Government is working consistently towards development of robust ecosystem for promoting
            innovations to enhance competitiveness and boost economic growth. The Platform showcases the existing strengths and opportunities w.r.t
            Incubation & Startup Landscape Punjab. It provides complete mapping of incubators set up by different ministries in the State as well as highlight the statistics of Startups</p>
        </div>
    </div>
    <div class="startupIndiaDiv">
        <div class="container col-lg-12 col-md-12 text-center all">
            <div class="row">
                <div class="col-lg-6 col-md-6 all">
                    <img src="{% static 'images/incub_punjab.png' %}" alt="incubators_punjab"/>
                </div>
                <div class="col-lg-6 col-md-6 all">
                    <img src="{% static 'images/startup_india.png' %}" alt="Startup_India" />
                </div>
            </div>
        </div>
    </div>
    <div class="container col-lg-12 col-md-12 all">
        <h2>Incubator Landscape - Punjab</h2>
        <div class="row">
            <div class="col-lg-3 col-md-3 text-center incub-number all">
                <p class="all">Incubators & Accelerators</p>
                <span data-from="0" data-to="29" data-time="4000" class="count1">0</span>
                <span>+</span>
            </div>
            <div class="col-lg-3 col-md-3 text-center incub-number all">
                <p class="all">Registered with Startup India</p>
                <span data-from="0" data-to="2900" data-time="2000" class="count2">0</span>
                <span>+</span>
            </div>
            <div class="col-lg-3 col-md-3 text-center incub-number all">
                <p class="all">DPIIT Recognized Start-ups</p>
                <span data-from="0" data-to="740" data-time="3000" class="count3">0</span>
                <span>+</span>
            </div>
            <div class="col-lg-3 col-md-3 text-center incub-number all">
                <p class="all">Registered on Startup Punjab Portal</p>
                <span data-from="0" data-to="42" data-time="4000" class="count4">0</span>
                <span>+</span>
            </div>
        </div>
    </div>
    <div class="iconsDiv">
        <div class="container col-lg-12 col-md-12 text-center all">
            <div class="row">
                <div class="card all">
                    <img src="{% static 'images/incub_icon1.png' %}" class="card-img-top" alt="IT/ITES">
                    <div class="card-body">
                        <p class="card-text">IT/ITES</p>
                    </div>
                </div>
                <div class="card all">
                    <img src="{% static 'images/incub_icon2.png' %}" class="card-img-top" alt="Agriculture & Food Processing">
                    <div class="card-body">
                        <p class="card-text">Agriculture & Food Processing</p>
                    </div>
                </div>
                <div class="card all" >
                    <img src="{% static 'images/incub_icon3.png' %}" class="card-img-top" alt="Environment & Clean Energy">
                    <div class="card-body">
                        <p class="card-text">Environment & Clean Energy</p>
                    </div>
                </div>
                <div class="card all">
                    <img src="{% static 'images/incub_icon4.png' %}" class="card-img-top" alt="Manufacturing">
                    <div class="card-body">
                        <p class="card-text">Manufacturing</p>
                    </div>
                </div>
                <div class="card all">
                    <img src="{% static 'images/incub_icon5.png' %}" class="card-img-top" alt="Healthcare & Lifesciences">
                    <div class="card-body">
                        <p class="card-text">Healthcare & Lifesciences</p>
                    </div>
                </div>
                </br>
                <div class="card">
                    <img src="{% static 'images/incub_icon6.png' %}" class="card-img-top" alt="Education Fin-Tech">
                    <div class="card-body">
                        <p class="card-text">Education Fin-Tech</p>
                    </div>
                </div><div class="card">
                    <img src="{% static 'images/incub_icon7.png' %}" class="card-img-top" alt="Biotechnology">
                    <div class="card-body">
                        <p class="card-text">Biotechnology</p>
                    </div>
                </div><div class="card">
                    <img src="{% static 'images/incub_icon8.png' %}" class="card-img-top" alt="Media Entertainment & Gaming">
                    <div class="card-body">
                        <p class="card-text">Media Entertainment & Gaming</p>
                    </div>
                </div><div class="card">
                    <img src="{% static 'images/incub_icon9.png' %}" class="card-img-top" alt="Emerging Technologies">
                    <div class="card-body">
                        <p class="card-text">Emerging Technologies</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-lg-12 col-md-12 text-center all">
        <div class="row incubationDiv">
            <div class="col-lg-6 col-md-6 incub-heading">
                <span>Incubation Growth Trend</span>
                <img src="{% static 'images/incub_growth.png' %}" class="all" alt="Incubation Growth Trend"/>
            </div>
            <div class="col-lg-6 col-md-6 incub-regional incub-heading">
                <span>Incubators Regional Spread</span>
                <img src="{% static 'images/incub_regional.png' %}" class="all" alt="Incubators Regional Spread"/>
            </div>
        </div>
    </div>
    </div>

    <div class="col-lg-12 col-sm-12 col-md-12 sti-data sti-data-arch contrib-div" style="font-size:35px">
        <div class="container">
            <p class="all">Support Network</p>
            <div class="col-lg-12 col-sm-12 col-md-12 abt-contrib-div">
                 <div class="row support-carousel owl-carousel">
                     <div class="first-contrib-img">
                         <a href="#" target="_blank" class="support-network" onclick="return external_link();">
                            <img src="{% static 'images/support_1.png' %}" alt=""/>
                         </a>
                     </div>
                     <div class="first-contrib-img">
                         <a href="#" target="_blank" class="support-network" onclick="return external_link();">
                            <img src="{% static 'images/support_2.png' %}" alt="" />
                         </a>
                     </div>
                     <div class="first-contrib-img">
                         <a href="#" target="_blank" class="support-network" onclick="return external_link();">
                           <img src="{% static 'images/support_3.png' %}" alt="" />
                         </a>
                     </div>
                     <div class="first-contrib-img">
                         <a href="#" target="_blank" class="support-network" onclick="return external_link();">
                            <img src="{% static 'images/support_4.png' %}" alt="" />
                         </a>
                     </div>
                     <div class="first-contrib-img">
                         <a href="#" target="_blank" class="support-network" onclick="return external_link();">
                            <img src="{% static 'images/support_5.png' %}" alt=""/>
                         </a>
                     </div>
                     <div class="first-contrib-img">
                         <a href="#" target="_blank" class="support-network" onclick="return external_link();">
                            <img src="{% static 'images/support_6.png' %}" alt="" />
                         </a>
                     </div>
                     <div class="first-contrib-img">
                         <a href="#" target="_blank" class="support-network" onclick="return external_link();">
                            <img src="{% static 'images/support_7.png' %}" alt=""/>
                         </a>
                     </div>
                     <div class="first-contrib-img">
                         <a href="#" target="_blank" class="support-network" onclick="return external_link();">
                            <img src="{% static 'images/support_8.png' %}" alt="" />
                         </a>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>
<script type="text/javascript">
    $('.support-carousel').owlCarousel({

        autoHeight: true,
        autoplayTimeout: 2000,
        smartSpeed: 800,
        rewind: true,
        nav: true,
        items:4,
        navText: [
        "<i class='fa fa-caret-left'></i>",
        "<i class='fa fa-caret-right'></i>"
        ],
        autoplay: true,
        autoplayHoverPause: true,
        dots:false,
    })
</script>
<script type="text/javascript">
   (function ($){
          $.fn.counter = function() {
            const $this = $(this),
            numberFrom = parseInt($this.attr('data-from')),
            numberTo = parseInt($this.attr('data-to')),
            delta = numberTo - numberFrom,
            deltaPositive = delta > 0 ? 1 : 0,
            time = parseInt($this.attr('data-time')),
            changeTime = 10;

            let currentNumber = numberFrom,
            value = delta*changeTime/time;
            var interval1;
            const changeNumber = () => {
              currentNumber += value;
              //checks if currentNumber reached numberTo
              (deltaPositive && currentNumber >= numberTo) || (!deltaPositive &&currentNumber<= numberTo) ? currentNumber=numberTo : currentNumber;
              this.text(parseInt(currentNumber));
              currentNumber == numberTo ? clearInterval(interval1) : currentNumber;
            }

            interval1 = setInterval(changeNumber,changeTime);
          }
        }(jQuery));

        $(document).ready(function(){

          $('.count-up').counter();
          $('.count1').counter();
          $('.count2').counter();
          $('.count3').counter();
          $('.count4').counter();
          new WOW().init();
});
  </script>

{% endblock javascript %}

