<html lang="en" xmlns="http://www.w3.org/1999/html">
{% load static %}
<head>
     <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <title>{% block title %}Home{% endblock %}</title>
    <script src="{% static 'js/countup.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'js/bootstrap.js' %}" type="text/css" />
     {% block style %}
    {% endblock style %}

</head>
<body>
<div class="container-fluid ">
    <div class="container">
     <!-- Topbar Start -->
        <div class="col-lg-12 col-md-12 top-bar">
            <div class="row">
                <div class="col-lg-12 col-md-12 text-end">
                    <span class="top-skip-bar">
                        <a href="#header-menu">Skip to main content</a> |
                        <a href="">Accessibility Options</a> |
                        <a href="">ਪੰਜਾਬੀ</a>&nbsp;&nbsp;<img src="{% static 'images/Polygon 8.png' %}"/>
                    </span>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="row">
                        <div class="col-lg-1 col-md-1">
                            <img src="{% static 'images/Logo.png' %}" width="100px"/>
                        </div>
                        <div class="col-lg-11 col-md-11 header-title">
                            <span>Science, Technology & Innovation Observatory, Punjab</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 icons">
                    <span class="float-end">
                        <a class="" href="#"><img src="{% static 'images/facebook.png' %}"/></a>
                        <a class="" href="#"><img src="{% static 'images/youtube.png' %}"/></a>
                        <a class="" href="#"><img src="{% static 'images/twitter.png' %}"/></i></a>
                    </span>
                </div>
                <div class="col-lg-2 col-md-2 dst-logo">
                    <img src="{% static 'images/dst_logo.png' %}" class="float-end" width="150px"/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 header-menu">
        <div class="container">
            <nav id="header-menu" class="navbar navbar-expand-lg">

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                 <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        {% for menu in header_menu_name %}
                             <a class="nav-link" href= {% url menu.menu_link %}>{{menu.menu_name}}</a>
                        {%endfor%}
                    </div>
                 </div>
            </nav>
        </div>
    </div>
</div>
<!-- Top header Closed-->
<!-- Internal Content Started-->
{% block content %}
<div class="container-fluid">
     <div class="col-lg-12 col-md-12">
         <div class="slider row g-0">
             {% for slide in slider %}
             <img src="{{ slide.home_slider_image.url }}" width="100%" height="100%"/>
             {% endfor %}
         </div>
     </div>
    <div class="container">
        <!-- STI Home page information starts -->
        <div class="col-lg-12 col-md-12 home_info_data all">
            <div class="row g-0">
                {% for homedata in home_data %}
                     <div class="col-lg-4 col-md-4">
                         <img src="{{ homedata.home_info_image.url }}" width="100%" height="100%"/>
                     </div>
                     <div class="col-lg-8 col-md-8 home_info text-justify">
                            <p>{{homedata.home_info_text}}</p>
                     </div>
                 {% endfor %}
            </div>
        </div>
    </div>
    <div class="container-fluid all">
        <!-- STI Home page information ends-->
        <!-- STI Home page Data Architecture starts -->
        <div class="col-lg-12 col-md-12 sti-data sti-data-arch all">
            <div class="container">
                <a href="{% url 'framework' %}"><span>STI Data Architecture Framework</span></a>
                 <div class="col-lg-12 col-md-12 data-arch">
                    <span>Data Architecture Framework defines components of Science, Technology & Innovation</span>
                 </div>
            </div>
        </div>
        <div class="container">
             <div class="col-lg-12 col-md-12 sti-div">
                 <div class="row sti-margin">
                     {% for frame in framework %}
                        <div class="col-lg-4 col-md-4">
                             <div class="col-lg-12 col-md-12 home-sti-data-text">
                                 <a href="#" class="text-decoration-none">{{frame.home_framework_title}}</a>
                             </div>
                             <div class="col-lg-12 col-md-12 home-sti-data-img">
                                  <img src="{{ frame.home_framework_image.url }}" width="100%" height="100%"/>
                             </div>
                         </div>
                     {% endfor %}
                 </div>
             </div>
        </div>
        <!-- STI Home page Data Architecture ends -->
        <!-- STI Home page Infrastructure and Highlights starts -->
        <div class="container-fluid card__image sti-infra-bg">
            <div class="container">
                 <div class="col-lg-12 col-md-12 sti-data">
                     <span>STI Infrastructure</span>
                     <div class="row">
                         <div class="col-lg-2 col-md-2">
                         </div>
                         <div class="col-lg-8 col-md-8 text-center pb-image">
                            <img src="{% static 'images/punjab_map.png' %}" width="90%" height="90%"/>
                             <a href="#"><p class="pb-number1"><span class="pb-nb-text">Institutes of <br/> National Importance </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <img src="{% static 'images/sti_number_1.png' %}" /></p></a>
                             <a href="#"><p class="pb-number2"><img src="{% static 'images/sti_number_2.png' %}" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <span class="pb-nb-text">DSIR Recognized R&D Units</span></p></a>
                             <a href="#"><p class="pb-number3"><span class="pb-nb-text">Incubators</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <img src="{% static 'images/sti_number_3.png' %}" /></p></a>
                             <a href="#"><p class="pb-number4"><img src="{% static 'images/sti_number_4.png' %}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <span class="pb-nb-text">Center of Excellence</span></p></a>
                             <a href="#"><p class="pb-number5"><span class="pb-nb-text">Universities </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <img src="{% static 'images/sti_number_5.png' %}" /></p></a>
                             <a href="#"><p class="pb-number6"><img src="{% static 'images/sti_number_6.png' %}"/>&nbsp;&nbsp;&nbsp;
                                 <span class="pb-nb-text">   R&D Institutes </span></p></a>
                         </div>
                         <div class="col-lg-2 col-md-2">
                         </div>
                 </div>
             </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="highlight-bg col-md-12">
                <div class="container col-lg-12 col-md-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 sti-high-text">
                            <span>STI Highlights</span>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="row">
                                 <div class="col-lg-5 col-md-5">
                                     <span id="state1" countTo="600" class="sti-high-internal-600">0</span>
                                    <span class="sti-high-internal-plus">+</span>
                                 </div>
                                <div class="col-lg-7 col-md-7">
                                    <span class="sti-high-internal">Startups</span>
                                    <span class="sti-high-internal-text">DPIIT Registered</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 sti-internal-div">
                            <div class="row">
                                 <div class="col-lg-7 col-md-7">
                                     <span id="state2" countTo="1500" class="sti-high-internal-600">0</span>
                                    <span class="sti-high-internal-plus">+</span>
                                 </div>
                                <div class="col-lg-5 col-md-5">
                                    <span class="sti-high-internal">Patents</span>
                                    <span class="sti-high-internal-text">Filed</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="row">
                                 <div class="col-lg-5 col-md-5">
                                     <span id="state3" countTo="10" class="sti-high-internal-600">0</span>
                                    <span class="sti-high-internal-plus">+</span>
                                 </div>
                                <div class="col-lg-7 col-md-7">
                                    <span class="sti-high-internal">Industrial</span>
                                    <span class="sti-high-internal-text">Parks</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- STI Home page Infrastructure and Highlights ends -->

        <!-- STI Home page Plans and policies starts -->
        <div class="col-lg-12 col-md-12 policy-data">
            <div class="container">
                <span>Plans & Policies</span>
                <div class="col-lg-12 col-md-12 policy-div">
                     <div class="row policy-margin">
                         {% for policy in policies %}
                            <div class="col-lg-4 col-md-4">
                                 <div class="col-lg-12 col-md-12 policy-data-text">
                                     <a href="#" class="text-decoration-none">{{policy.home_plan_policies_title}}</a>
                                 </div>
                                 <div class="col-lg-12 col-md-12 policy-data-img">
                                      <img src="{{ policy.home_plan_policies_image.url }}" width="100%" height="100%"/>
                                 </div>
                             </div>
                         {% endfor %}
                     </div>
                </div>
            </div>
        </div>
        <!-- STI Home page Plans and policies ends -->

        <!-- STI Spotlight starts -->
        <div class="container">
            <div class="col-lg-12 col-md-12 spt-data all">
                <span>Spotlight</span>
            </div>
                <div class="col-lg-12 col-md-12 ">
                    <div class="row">
                        {% for spot in spotlight %}
                         <div class="col-lg-4 col-md-4 spt_img">
                             <div class="row">
                                 <div class="col-lg-12 col-md-12">
                                    <img src="{{ spot.spotlight_image.url }}" width="100%" height="100%"/>
                                 </div>
                                 <div class="col-lg-12 col-md-12 spt_text">
                                    <p class="spt-title">
                                        {{ spot.spotlight_title }}
                                    </p>
                                    <p class="spt-subtext">
                                        {{spot.spotlight_text}}
                                       </br> <a href="#" class="text-decoration-none">Read More....</a>
                                    </p>
                                 </div>
                             </div>
                         </div>
                        {% endfor %}
                        <div class="col-lg-4 col-md-4 spt_img-tweet">
                             <div class="col-lg-12 col-md-12 ">
                                 <div class="twitbox"><a class="twitter-timeline nongov" href="https://twitter.com/PSCST_GoP?ref_src=twsrc%5Etfw" target="_black">Tweets by PSCST_GoP</a> <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
                             </div>
                        </div>
                    </div>
                <div class="col-lg-8 col-md-8 init-browse text-center">
                    <div class="text-center">
                          <span class="dot"></span>
                          <span class="dot"></span>
                          <span class="dot"></span>
                    </div>
                    <a href="#" class="text-decoration-none">Browse all 120 initiatives</a>
                </div>
            </div>
        </div>
    </div>

         <!-- STI Spotlight ends -->
        {% endblock %}
<!-- Internal Content Closed-->

    <!-- Banners Starts -->
    <div class="container">
        <div class="col-lg-12 col-md-12 all">
             <hr>
            <div class="row-fluid banner-color">
                <div class="bannergroup table">
                    <ul class="banner-border">
                        <li>
                            <img src="{% static 'images/fl1.png' %}" alt="Digital India" />
                        </li>
                        <li>
                            <img src="{% static 'images/fl2.png' %}" alt="" />
                        </li>
                        <li>
                            <img src="{% static 'images/fl3.png' %}" alt="" width="18%"/>
                        </li>
                        <li>
                            <img src="{% static 'images/fl4.png' %}" alt="" width="18%" />
                        </li>
                        <li>
                            <img src="{% static 'images/fl5.png' %}" alt="" width="18%"/>
                        </li>
                        <li>
                            <img src="{% static 'images/fl6.png' %}" alt="" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Banners Ends -->
    <!-- Footer Starts -->
    <div class="footer-bg">
        <div class="container col-lg-12 col-md-12">
            <div class="row">
                <div class="col-lg-12 col-md-12 text-center">
                    <ul class="footer-menu">
                        <li><a class="" href="#">About Portal</a></li>|
                        <li><a class="" href="#">Help</a></li>|
                        <li><a class="" href="#">User Feedback</a></li>|
                        <li><a class="" href="#">Accessibility</a></li>|
                        <li><a class="" href="{%url 'contact' %}">Contact Us</a></li>|
                        <li><a class="" href="#">Sitemap</a></li>|
                        <li><a class="" href="#">Website Policies</a></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 footer-text">
                    <span><strong>An initiative of </strong><br>
                        <img src="{% static 'images/footer_pcst.png' %}" alt=""/>&nbsp;&nbsp;&nbsp;&nbsp;Punjab State Council for Science & Technology</span> <br>
                    <span><strong>Supported By </strong><br>
                        <img src="{% static 'images/footer_dst.png' %}" alt=""/>&nbsp;&nbsp;&nbsp;&nbsp;Department of Science & Technology, Government of India</span><br/><br>
                    <p class="footer-menu-copyright">© STI, Punjab | Govt. of Punjab | 2022 | All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 col-md-6 footer-menu-collab">
                    <span><strong>In Collaboration with</strong> <br>
                        <img src="{% static 'images/footer_ctier.png' %}" alt=""/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Centre for Technology, Innovation & Economic Research <br><br>
                        <img src="{% static 'images/footer_cdac.png' %}" alt=""/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Centre for Development of Advanced Computing</span><br/>
                    <p class="footer-menu-develop text-end">Design and Developed by C-DAC Mohali</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% block javascript %}
<script type="text/javascript">
    if (document.getElementById('state1')) {
      const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
      if (!countUp.error) {
        countUp.start();
      } else {
        console.error(countUp.error);
      }
    }
    if (document.getElementById('state2')) {
      const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
      if (!countUp1.error) {
        countUp1.start();
      } else {
        console.error(countUp1.error);
      }
    }
    if (document.getElementById('state3')) {
      const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
      if (!countUp2.error) {
        countUp2.start();
      } else {
        console.error(countUp2.error);
      };
    }
  </script>
<script>
    let slideIndex = 0;
    showSlides();

    function showSlides() {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 5000); // Change image every 2 seconds
    }
</script>


{% endblock javascript %}
</body>
</html>