<html lang="en" xmlns="http://www.w3.org/1999/html">
{% load static %}
<head>
     <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <title>{% block title %}Home{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <script src="{% static 'js/countup.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css'>
     {% block style %}
    {% endblock style %}
</head>
<body class="body">
<div class="container-fluid ">
    <div class="container">
     <!-- Topbar Start -->
        <div class="col-lg-12 col-md-12 top-bar">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-md-12 text-end" style="font-size:14px">
                    <span class="top-skip-bar">
                        <a href="#header-menu">Skip to main content</a> |
                        <div class="dropdown">
                             <button class="dropbtn">Accessibility Options</button>
                                <div class="dropdown-content">
                                    <a class="font-button plus" href="#">A+</a>
                                    <a class="font-button reset" href="#">A</a>
                                    <a class="font-button minus" href="#">A-</a>
                                    <a class="b-button white" href="#">W</a>
                                    <a class="b-button black" href="#">B</a>
                                </div>
                        </div> |
                        <a href="">ਪੰਜਾਬੀ</a>&nbsp;&nbsp;<img src="{% static 'images/Polygon 8.png' %}"/>
                    </span>
                </div>
                <div class="col-lg-8 col-sm-12 col-md-8">
                    <div class="row">
                        <div class="col-lg-1 col-sm-12 col-md-1 logo">
                            <img src="{% static 'images/Logo.png' %}" width="100px"/>
                        </div>
                        <div class="col-lg-11 col-sm-12 col-md-11 header-title" style="font-size:30px">
                            <span>Science, Technology & Innovation Observatory, Punjab</span>
                        </div>
                    </div>
                </div>
                    <div class="col-lg-2 col-sm-6 col-md-2 icons">
                    <span>
                        <a class="" href="#"><img src="{% static 'images/facebook.png' %}"/></a>
                        <a class="" href="#"><img src="{% static 'images/youtube.png' %}"/></a>
                        <a class="" href="#"><img src="{% static 'images/twitter.png' %}"/></i></a>
                    </span>
                </div>
                <div class="col-lg-2 col-sm-6 col-md-2 dst-logo">
                    <img src="{% static 'images/dst_logo.png' %}" width="150px"/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 header-menu" style="font-size:18px;">
        <div class="container">
            <nav id="header-menu" class="navbar navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                 <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        {% for menu in header_menu_name %}
                             <a class="nav-link" href= {% url menu.menu_link %}>{{menu.menu_name}}</a>
                        {%endfor%}
                    </div>
                 </div>
            </nav>
        </div>
    </div>
<!-- Top header Closed
    {% if breadcrumbs %}
<div class="container">
    {% include "dynamic_breadcrumbs/breadcrumbs.html" with breadcrumbs=breadcrumbs%}
</div>
{% endif %}-->
<!-- Internal Content Started-->
{% block content %}
     <div class="col-lg-12 col-sm-12 col-md-12">
         <div class="slider row g-0">
             {% for slide in slider %}
             <img src="{{ slide.home_slider_image.url }}" width="100%" height="100%"/>
             {% endfor %}
         </div>
     </div>
    <div class="container">
        <!-- STI Home page information starts -->
        <div class="col-lg-12 col-sm-12 col-md-12 home_info_data all">
            <div class="row g-0">
                {% for homedata in home_data %}
                     <!--<div class="col-lg-4 col-md-4">
                         <img src="{{ homedata.home_info_image.url }}" width="100%" height="100%"/>
                     </div>-->
                     <div class=" home_info text-justify" style="font-size:18px">
                            <p>{{homedata.home_info_text}}</p>
                     </div>
                 {% endfor %}
            </div>
        </div>
    </div>
    <div class=" all">
        <!-- STI Home page information ends-->
        <!-- STI Home page Data Architecture starts -->
        <div class="col-lg-12 col-sm-12 col-md-12 sti-data sti-data-arch all" style="font-size:35px">
            <div class="container">
                <a href="{% url 'framework' %}"><span>STI Data Architecture Framework</span></a>
                 <div class="col-lg-12 col-sm-12 col-md-12 data-arch" style="font-size:26px">
                    <span></span>
                 </div>
            </div>
        </div>
        <div class="container">
             <div class="col-lg-12 col-sm-12 col-md-12 sti-div">
                 <div class="row sti-margin">
                     {% for frame in framework %}
                        <div class="col-lg-4 col-sm-12 col-md-4 sti-data-margin">
                             <div class="col-lg-12 col-sm-12 col-md-12 home-sti-data-text">
                                 <a href="{% url 'indicators' %}" name="{{frame.stage_title}}" id="frame" class="text-decoration-none frame">{{frame.stage_title}}
                                 <div class="col-lg-12 col-sm-12 col-md-12 home-sti-data-img">
                                    <img src="{{ frame.home_stage_image.url }}" width="100%" height="100%"/>
                                 </div>
                                 </a>
                             </div>

                         </div>
                     {% endfor %}
                 </div>
             </div>
        </div>
        <!-- STI Home page Data Architecture ends -->
        <!-- STI Home page Infrastructure and Highlights starts -->
        <div class="container-fluid card__image sti-infra-bg">
            <div class="container">
                 <div class="col-lg-12 col-sm-12 col-md-12 sti-data" style="font-size:35px">
                     <span>STI Infrastructure</span>
                     <div class="row">
                         <div class="col-lg-2 col-sm-12 col-md-2">
                         </div>
                         <div class="col-lg-8 col-sm-12 col-md-8 text-center pb-image">
                            <img src="{% static 'images/punjab_map.png' %}" width="80%" height="80%"/>
                             <a href="#"><span class="pb-number pb-number5"><span class="pb-nb-text">Universities </span>
                                 <img src="{% static 'images/sti_number_5.png' %}" /></span></a><br>
                             <a href="#"><span class="pb-number pb-number2"><img src="{% static 'images/sti_number_2.png' %}" />
                                 <span class="pb-nb-text">DSIR Recognized R&D Units</span></span></a><br>
                             <a href="#"><span class="pb-number pb-number3"><span class="pb-nb-text">Incubators</span>
                                 <img src="{% static 'images/sti_number_3.png' %}" /></span></a><br>
                             <a href="#"><span class="pb-number pb-number4"><img src="{% static 'images/sti_number_4.png' %}"/>
                                 <span class="pb-nb-text">Center of Excellence</span></span></a><br>
                             <a href="#"><span class="pb-number pb-number1"><span class="pb-nb-text">Institutes of National Importance</span>
                                 <img src="{% static 'images/sti_number_1.png' %}" /></span></a><br>
                             <a href="#"><span class="pb-number pb-number6"><img src="{% static 'images/sti_number_6.png' %}"/>
                                 <span class="pb-nb-text">R&D Institutes </span></span></a>
                         </div>
                         <div class="col-lg-2 col-sm-12 col-md-2">
                         </div>
                 </div>
             </div>
            </div>
        </div>
        <!-- STI Highlights section in which the count up javascript has been added to counter the number up --->
        <div class="container-fluid">
            <div class="highlight-bg col-sm-12 col-md-12">
                <div class="container col-lg-12 col-sm-12 col-md-12">
                    <div class="row">
                        <div class="col-lg-3 col-sm-12 col-md-3 sti-high-text">
                            <span>STI Highlights</span>
                        </div>
                        <div class="col-lg-3 col-sm-12 col-md-3">
                            <div class="row">
                                 <div class="col-lg-5 col-sm-12 col-md-5 sti-high-6">
                                     <span data-from="0" data-to="600" data-time="8000" class="count3 sti-high-internal-600">0</span>
                                    <span class="sti-high-internal-plus">+</span>
                                 </div>
                                <div class="col-lg-7 col-sm-12 col-md-7">
                                    <span class="sti-high-internal">Startups</span>
                                    <span class="sti-high-internal-text">DPIIT Registered</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12 col-md-3 sti-internal-div">
                            <div class="row">
                                 <div class="col-lg-7 col-sm-12 col-md-7 sti-high-15">
                                     <span data-from="0" data-to="1500" data-time="8000" class="count2 sti-high-internal-600">0</span>
                                    <span class="sti-high-internal-plus">+</span>
                                 </div>
                                <div class="col-lg-5 col-sm-12 col-md-5">
                                    <span class="sti-high-internal">Patents</span>
                                    <span class="sti-high-internal-text">Filed</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12 col-md-3">
                            <div class="row">
                                 <div class="col-lg-5 col-sm-12 col-md-5 sti-high-10">
                                     <span data-from="0" data-to="10" data-time="8000" class="count1 sti-high-internal-600">0</span>
                                    <span class="sti-high-internal-plus">+</span>
                                 </div>
                                <div class="col-lg-7 col-sm-12 col-md-7 sti-high-6">
                                    <span class="sti-high-internal">Industrial</span>
                                    <span class="sti-high-internal-text">Parks</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- STI Home page Infrastructure and Highlights ends -->

        <!-- STI Home page Plans and policies starts, the data has been fetched from the database  -->
        <div class="col-lg-12 col-sm-12 col-md-12 policy-data">
            <div class="container">
                <span>Plans & Policies</span>
                <div class="col-lg-12 col-sm-12 col-md-12 policy-div">
                     <div class="row policy-margin">
                         {% for policy in policies %}
                            <div class="col-lg-4 col-sm-12 col-md-4 policy-img">
                                 <div class="col-lg-12 col-sm-12 col-md-12 policy-data-text">
                                     <a href="#" class="text-decoration-none">{{policy.home_plan_policies_title}}</a>
                                 </div>
                                 <div class="col-lg-12 col-sm-12 col-md-12 policy-data-img">
                                      <img src="{{ policy.home_plan_policies_image.url }}" width="100%" height="100%"/>
                                 </div>
                             </div>
                         {% endfor %}
                     </div>
                </div>
            </div>
        </div>
        <!-- STI Home page Plans and policies ends -->

        <!-- STI Spotlight starts., the content is fetched from database -->
        <div class="container">
            <div class="col-lg-12 col-sm-12 col-md-12 spt-data all">
                <span>Spotlight</span>
            </div>
                <div class="col-lg-12 col-sm-12 col-md-12 ">
                    <div class="row">
                        {% for spot in spotlight %}
                         <div class="col-lg-4 col-sm-12 col-md-4 spt-img">
                             <div class="row">
                                 <div class="col-lg-12 col-sm-12 col-md-12">
                                    <img src="{{ spot.spotlight_image.url }}" width="100%" height="100%"/>
                                 </div>
                                 <div class="col-lg-12 col-sm-12 col-md-12 spt_text">
                                    <p class="spt-title">
                                        {{ spot.spotlight_title }}
                                    </p>
                                    <p class="spt-subtext" style="display:inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 40ch;">
                                        {{spot.spotlight_text}}
                                       </br> <a href="#" class="text-decoration-none">Read More....</a>
                                    </p>
                                 </div>
                             </div>
                         </div>
                        {% endfor %}
                        <div class="col-lg-4 col-sm-12 col-md-4 spt-img-tweet">
                             <div class="col-lg-12 col-sm-12 col-md-12 ">
                                 <div class="twitbox"><a class="twitter-timeline nongov" href="https://twitter.com/PSCST_GoP?ref_src=twsrc%5Etfw" target="_black">Tweets by PSCST_GoP</a> <script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
                             </div>
                        </div>
                    </div>
                <div class="col-lg-8 col-sm-12 col-md-8 init-browse text-center">
                    <div class="text-center">
                          <span class="dot"></span>
                          <span class="dot"></span>
                          <span class="dot"></span>
                    </div>
                    <a href="#" class="text-decoration-none">Browse all</a>
                </div>
            </div>
        </div>
    </div>

         <!-- STI Spotlight ends -->
        {% endblock %}
<!-- Internal Content Closed-->

    <!-- Banners Starts -->
    <div class="container">
        <div class="col-lg-12 col-sm-12 col-md-12 all">
             <hr>
            <div class="row-fluid banner-color">
                <div class="bannergroup table text-center">
                    <ul class="banner-border">
                        {% for ban in banner %}
                        <li>
                            <img src="{{ ban.banner_image.url }}" alt="ban.banner_title" />
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Banners Ends -->
    <!-- Footer Starts -->
    <div class="footer-bg">
        <div class="container col-lg-12 col-sm-12 col-md-12">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 footer-text text-center">
                    <span class="footer-text-clr">An initiative of</span><br>
                        <img src="{% static 'images/footer_psct.png' %}" alt=""/><br><span>Punjab State Council for Science & Technology</span> <br><br>
                    <span class="footer-text-clr">Supported By <br></span>
                        <img src="{% static 'images/footer_dst.png' %}" alt=""/><br><span>Department of Science & Technology, Government of India</span><br/><br>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 footer-text footer-menu-collab text-center">
                    <span class="footer-text-clr">In Collaboration with <br></span><span>
                        <img src="{% static 'images/footer_ctier.png' %}" alt=""/><br>Centre for Technology, Innovation & Economic Research <br><br><br>
                        <img src="{% static 'images/footer_cdac.png' %}" alt=""/><br>Centre for Development of Advanced Computing</span><br/>

                </div>
            </div>
            <hr class="hr-color">
            <div class="col-lg-12 col-sm-12 col-md-12 text-center">
                    <ul class="footer-menu">
                        <li><a class="" href="{% url 'about' %}">About Portal</a></li>|
                        <li><a class="" href="{% url 'help' %}">Help</a></li>|
                        <li><a class="" href="{% url 'feedback' %}">User Feedback</a></li>|
                        <li><a class="" href="{% url 'accessibility' %}">Accessibility</a></li>|
                        <li><a class="" href="{%url 'contact' %}">Contact Us</a></li>|
                        <li><a class="" href="{% url 'sitemap' %}">Sitemap</a></li>|
                        <li><a class="" href="{% url 'policies' %}">Website Policies</a></li>
                        <li></li>
                    </ul>
                </div>
            <hr class="hr-color">
            <div class="col-lg-12 col-sm-12 col-md-12 foot-design">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-md-6 text-start">
                        <p class="footer-menu-copyright">© STI, Punjab | Govt. of Punjab | 2022 | All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-md-6 text-end">
                        <p class="footer-menu-copyright">Design and Developed by C-DAC Mohali</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% block javascript %}
<!-- script for counter ate homepage --->
<script type="text/javascript">
   (function ($){
          $.fn.counter = function() {
            const $this = $(this),
            numberFrom = parseInt($this.attr('data-from')),
            numberTo = parseInt($this.attr('data-to')),
            delta = numberTo - numberFrom,
            deltaPositive = delta > 0 ? 1 : 0,
            time = parseInt($this.attr('data-time')),
            changeTime = 10;

            let currentNumber = numberFrom,
            value = delta*changeTime/time;
            var interval1;
            const changeNumber = () => {
              currentNumber += value;
              //checks if currentNumber reached numberTo
              (deltaPositive && currentNumber >= numberTo) || (!deltaPositive &&currentNumber<= numberTo) ? currentNumber=numberTo : currentNumber;
              this.text(parseInt(currentNumber));
              currentNumber == numberTo ? clearInterval(interval1) : currentNumber;
            }

            interval1 = setInterval(changeNumber,changeTime);
          }
        }(jQuery));

        $(document).ready(function(){

          $('.count-up').counter();
          $('.count1').counter();
          $('.count2').counter();
          $('.count3').counter();
          new WOW().init();
});
  </script>

<!-- change font size on click of accessibility -->
<script type="text/javascript">
        $(function () {
            $(".font-button").bind("click", function () {
                if ($(this).hasClass("plus")) {
                    $('.header-title').css("font-size", '32px');
                    $('.top-bar a, .dropbtn').css("font-size", '18px');
                    $('.sti-data').css("font-size", '40px');
                    $('.header-menu').css("height", '14%');
                    $('.init-browse a,.header-menu a,.home_info, .footer-menu, .footer-menu a,.footer-text, .footer-menu-collab, .footer-menu-copyright').css("font-size", '24px');
                    }
                else if ($(this).hasClass("reset")) {
                    location.reload();
                }
                else {
                    $('.header-title').css("font-size", '26px');
                    $('.top-bar a, .dropbtn').css("font-size", '12px');
                    $('.sti-data').css("font-size", '30px');
                    $('.header-menu').css("height", '70px');
                    $('.init-browse a,.header-menu a,.home_info, .footer-menu, .footer-menu a,.footer-text, .footer-menu-collab, .footer-menu-copyright').css("font-size", '16px');

                }
            });
        });
    </script>

<script type="text/javascript">
        $(function () {
            $(".b-button").bind("click", function () {
                if ($(this).hasClass("white")) {
                    location.reload();
                    }
                else {
                    $('.body, .sti-data, .sti-div, .highlight-bg, .policy-data, .top-skip-bar a, .footer-bg, .dropbtn, .dropdown-content').css("background-color", '#000000');
                    $('.footer-bg').css("background-image", 'none');
                    $('.body, .header-title, .dropbtn, .header-menu a,.sti-data, .top-skip-bar a, .sti-data a, .data-arch, .home-sti-data-text a, .pb-nb-text, .sti-high-text, .sti-high-internal-600, .sti-high-internal-plus,.sti-high-internal-text, .sti-high-internal,.policy-data, .policy-data-text a, .policy-data-text a:hover, .spt-data, .spt-title, .spt-subtext').css("color", '#ff0');
                    $('.init-browse a, .footer-menu, .footer-menu a,.footer-text, .footer-menu-collab, .footer-menu-copyright').css("color", '#ff0');
                    }
            });
        });
</script>
<script src="{% static 'js/frameclick.js' %}"></script>
{% endblock javascript %}
</body>
  <script src="{% static 'js/bootstrap.js' %}"></script>
</html>