<html lang="en" xmlns="http://www.w3.org/1999/html">
{% load static %}
<head>
     <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
    <title>{% block title %}Home{% endblock %}</title>
    <script src="{% static 'js/boostrap.js' %}"></script> <!-- This is how to include a static file -->
    <script src="{% static 'js/countup.min.js' %}"></script>
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
   <!-- <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
</head>
<body>
<div class="container-fluid ">
    <div class="container">
     <!-- Topbar Start -->

        <div class="col-lg-12 col-md-12 top-bar">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <div class="row">
                        <div class="col-lg-1 col-md-1">
                            <img src="{% static 'images/Logo.png' %}" width="100px"/>
                        </div>
                        <div class="col-lg-11 col-md-11 header-title">
                            <span>SCIENCE, TECHNOLOGY & INNOVATION OBSERVATORY, PUNJAB</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <span class="top-skip-bar">
                        <a href="">Skip to main content</a> |
                        <a href="">Accessibility Options</a> |
                        <a href="">ਪੰਜਾਬੀ</a><img src="{% static 'images/Polygon 8.png' %}"/>
                    </span>
                    <span class="float-end icons">
                        <a class="" href="#"><img src="{% static 'images/facebook.png' %}"/></a>
                        <a class="" href="#"><img src="{% static 'images/youtube.png' %}"/></a>
                        <a class="" href="#"><img src="{% static 'images/twitter.png' %}"/></i></a>
                    </span>
                </div>
                <div class="col-lg-1 col-md-1">
                    <img src="{% static 'images/dst_logo.png' %}" width="150px"/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 header-menu">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                 <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        {% for menu in header_menu_name %}
                             <a class="nav-link" href= {% url menu.menu_link %}>{{menu.menu_name}}</a>
                        {%endfor%}
                    </div>
                 </div>
            </nav>
        </div>
    </div>
</div>
<!-- Top header Closed-->
<!-- Internal Content Started-->
{% block content %}
<div class="container-fluid">
     <div class="col-lg-12 col-md-12">
         <div class="row g-0">
             <img src="{% static 'images/slider.png' %}"/>
         </div>
     </div>
    <div class="container">
        <!-- STI Home page information starts -->
        <div class="col-lg-12 col-md-12 home_info_data all">
            <div class="row g-0">
                {% for homedata in home_data %}
                     <div class="col-lg-4 col-md-4">
                         <img src="{{ homedata.home_info_image.url }}" width="100%" height="100%"/>
                     </div>
                     <div class="col-lg-8 col-md-8 home_info text-justify">
                            <p>{{homedata.home_info_text}}</p>
                     </div>
                 {% endfor %}
            </div>
        </div>
        <!-- STI Home page information ends-->
        <!-- STI Home page Data Architecture starts -->
        <div class="col-lg-12 col-md-12 sti-data text-center all">
            <span class="text-uppercase ">STI Data Architecture Framework</span>
        </div>
         <div class="col-lg-12 col-md-12 text-center data-arch">
            <span>Data Architecture Framework defines components of Science, Technology & Innovation</span>
        </div>
         <div class="col-lg-12 col-md-12 all">
             <div class="row">
                 <div class="col-lg-4 col-md-4">
                     <div class="col-lg-12 col-md-12 home-sti-data-img">
                         <img src="{% static 'images/img1.png' %}" width="100%" height="100%"/>
                     </div>
                     <div class="col-lg-12 col-md-12 home-sti-data-text">
                         <a href="#" class="text-decoration-none">STI EDUCATION</a>
                     </div>
                 </div>
                <div class="col-lg-4 col-md-4">
                    <div class="col-lg-12 col-md-12 home-sti-data-img">
                         <img src="{% static 'images/research.png' %}" width="100%" height="100%"/>
                    </div>
                    <div class="col-lg-12 col-md-12 home-sti-data-text">
                        <a href="#" class="text-decoration-none">RESEARCH</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                     <div class="col-lg-12 col-md-12 home-sti-data-img">
                         <img src="{% static 'images/img2.png' %}" width="100%" height="100%"/>
                    </div>
                    <div class="col-lg-12 col-md-12 home-sti-data-invo-text">
                        <a href="#" class="text-decoration-none">INNOVATION & COMMERCIALIZATION</a>
                    </div>
                </div>
             </div>
             <div class="col-lg-12 col-md-12 text-center more-frame all">
                <a href="#" class="text-decoration-none"> More Framework</a>
             </div>
         </div>
        <!-- STI Home page Data Architecture ends -->
        <!-- STI Home page Infrastructure and Highlights starts -->
        <div class="col-lg-12 col-md-12 all">
             <div class="row">
                 <div class="col-lg-8 col-md-8 sti-data home_sti_infra_text">
                     <span>STI INFRASTRUCTURE</span>
                     <div class="col-lg-12 col-md-12 pb-img">
                        <img src="{% static 'images/map_punjab.png' %}" width="100%" height="80%"/>
                     </div>
                     <div class="col-lg-12 col-md-12 text-start pb-text">
                         <p><span class="pb-circle">34</span><span class="pb-circle-otext">UNIVERSITIES</span></p>
                         <p><span class="pb-circle">20</span><span class="pb-circle-otext">R&D INSTITUTES</span></p>
                         <p><span class="pb-circle">06</span><span class="pb-circle-otext">INSTITUTES OF NATIONAL IMPORTANCE</span></p>
                         <p><span class="pb-circle">27</span><span class="pb-circle-otext">DSIR REGISTERED</span></p>
                         <p><span class="pb-circle">29</span><span class="pb-circle-otext">INCUBATORS</span></p>
                         <p><span class="pb-circle">16</span><span class="pb-circle-otext">CENTRES OF EXCELLENCE</span></p>

                     </div>
                 </div>
                <div class="sti-data text-center col-lg-4 col-md-4">
                    <span>STI HIGHLIGHTS</span>
                    <div class="col-lg-12 col-md-12">
                        <div class="sti-high-text">
                            <div class="col-lg-12 col-md-12 all text-center sti-high-border">
                                <span id="state1" countTo="600" class="sti-high-internal-600">0+</span><span class="sti-high-internal-+">+</span><span class="sti-high-internal">STARTUPS</span><p class="text-end">DPIIT Registered</p>
                            </div>
                            <div class="col-lg-12 col-md-12 all text-center sti-high-border">
                                <span class="sti-high-internal-600" id="state2" countTo="1500">0</span><span class="sti-high-internal-+">+</span><span class="sti-high-internal">PATIENTS</span><p class="text-end">Filed</p>
                            </div>
                            <div class="col-lg-12 col-md-12 all sti-high">
                                <span class="sti-high-internal-600" id="state3" countTo="10">0</span><span class="sti-high-internal-+">+</span><span class="sti-high-internal">INDUSTRIAL</span><p class="text-end">Parks</p>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
         <!-- STI Home page Infrastructure and Highlights ends -->
        <!-- STI Home page Plans and policies starts -->
        <div class="col-lg-12 col-md-12">
            <div class="col-lg-12 col-md-12 sti-data text-center">
                <span class="text-uppercase">Plans & Policies</span>
            </div>
            <div class="row">
                 <div class="col-lg-4 col-md-4 home_plans_img">
                     <div class="col-lg-12 col-md-12 home-sti-data-img">
                         <img src="{% static 'images/pp_img1.png' %}" width="100%" height="100%"/>
                    </div>
                    <div class="col-lg-12 col-md-12 home-plans-text">
                        <a href="#" class="text-decoration-none">MISSION</a>
                    </div>
                 </div>
                <div class="col-lg-4 col-md-4">
                     <div class="col-lg-12 col-md-12 home-sti-data-img">
                         <img src="{% static 'images/pp_img2.png' %}" width="100%" height="100%"/>
                    </div>
                    <div class="col-lg-12 col-md-12 home-plans-text">
                        <a href="#" class="text-decoration-none">POLICIES</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                     <div class="col-lg-12 col-md-12 home-sti-data-img">
                         <img src="{% static 'images/pp_img3.png' %}" width="100%" height="100%"/>
                    </div>
                    <div class="col-lg-12 col-md-12 home-plans-text">
                        <a href="#" class="text-decoration-none">ACTION PLANS</a>
                    </div>
                </div>
             </div>
        </div>
        <!-- STI Home page Plans and policies ends -->
        <!-- STI Spotlight starts -->
        <div class="col-lg-12 col-md-12">
            <div class="col-lg-12 col-md-12 sti-data text-center">
                <span class="text-uppercase">Spotlight</span>
            </div>
            <div class="row">
                 <div class="col-lg-4 col-md-4">
                     <div class="col-lg-12 col-md-12 home_spt_img">
                         <img src="{% static 'images/spt_1.png' %}" width="100%" height="70%"/>
                    </div>
                    <div class="col-lg-12 col-md-12 home_spt_text">
                        <p class="spt-title">Industrial Research Centre to be set up in Chandigarh</p>
                        <p class="spt-subtext">Lorem ipsum dolor sitidunt ut sed do eiusmod tempor incididunt ut  eiusmod tempor incididunt ut  <a href="#" class="text-decoration-none">Read More....</a></p>
                    </div>
                 </div>
                <div class="col-lg-4 col-md-4 ">
                     <div class="col-lg-12 col-md-12 home_spt_img">
                         <img src="{% static 'images/spt_2.png' %}" width="100%" height="70%"/>
                    </div>
                    <div class="col-lg-12 col-md-12 home_spt_text">
                        <p class="spt-title">Launches PINK Project initiative for breast cancer treatment</p>
                        <p class="spt-subtext">Lorem ipsum dolor sit amet abore et dolore magna aliqua.  eiusmod tempor incididunt ut  <a href="#" class="text-decoration-none">Read More....</a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                     <div class="col-lg-12 col-md-12 home-sti-data-img">
                         <img src="{% static 'images/tweets.png' %}" width="100%" height="100%"/>
                     </div>
                </div>
                <div class="col-lg-12 col-md-12 all init-browse text-center">
                    <a href="#" class="text-decoration-none">Browse all 120 initiatives</a>
                </div>
            </div>
        </div>
</div>
         <!-- STI Spotlight ends -->
{% endblock %}
<!-- Internal Content Closed-->

<!-- Banners Starts -->
<div class="container">
    <div class="col-lg-12 col-md-12 all">
        <div class="row-fluid banner-color">
            <div class="bannergroup table">
                <ul class="banner-border">
                    <li>
                        <img src="{% static 'images/fl1.png' %}" alt="Digital India" />
                    </li>
                    <li>
                        <img src="{% static 'images/fl2.png' %}" alt="" />
                    </li>
                    <li>
                        <img src="{% static 'images/fl3.png' %}" alt="" width="18%"/>
                    </li>
                    <li>
                        <img src="{% static 'images/fl4.png' %}" alt="" width="18%" />
                    </li>
                    <li>
                        <img src="{% static 'images/fl5.png' %}" alt="" width="18%"/>
                    </li>
                    <li>
                        <img src="{% static 'images/fl6.png' %}" alt="" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Banners Ends -->
<!-- Footer Starts -->
<div class="container-fluid footer">
    <img src="{% static 'images/footer.png' %}" alt="" width="100%" height="40%"/>
    <div class="container col-lg-12 col-md-12 all">
        <div class="row">
            <div class="col-lg-6 col-md-6 footer-text">
                <span><strong>An initiative of </strong><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Punjab State Council for Science & Technology</span><br/>
                <span><strong>In Collaboration with</strong> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Centre for Technology, Innovation & Economic Research
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Centre for Development of Advanced Computing</span><br/>
                <br/><br/><br/><br/><br/><span class="">© STI, PUNJAB | GOVT. OF PUNJAB | 2022 | ALL RIGHTS RESERVED.</span>
            </div>
            <div class="col-lg-6 col-md-6 footer-menu">
                 <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <a class="" href="#">About Portal</a><br/>
                        <a class="" href="#">FAQ</a><br/>
                        <a class="" href="#">Help</a><br/>
                        <a class="" href="#">User Feedback</a><br/>
                        <a class="" href="#">Accessibility</a>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <a class="" href="{%url 'contact' %}">Contact Us</a><br/>
                        <a class="" href="#">Downloads</a><br/>
                        <a class="" href="#">Sitemap</a><br/>
                        <a class="" href="#">Website Policies</a><br/>
                        <a class="" href="#">Security Policies</a>
                    </div>
                 </div>
                <br/><br/><br/><br/><br/><span class="">DESIGN AND DEVELOPED BY C-DAC MOHALI</span>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    if (document.getElementById('state1')) {
      const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
      if (!countUp.error) {
        countUp.start();
      } else {
        console.error(countUp.error);
      }
    }
    if (document.getElementById('state2')) {
      const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
      if (!countUp1.error) {
        countUp1.start();
      } else {
        console.error(countUp1.error);
      }
    }
    if (document.getElementById('state3')) {
      const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
      if (!countUp2.error) {
        countUp2.start();
      } else {
        console.error(countUp2.error);
      };
    }
  </script>
</body>
</html>