{% extends 'index.html' %}
{% load static %}

<title>{% block title %}STI Indicators{% endblock %}</title>
{% block content %}
<div class="container">
    <div class="col-lg-12 col-md-12">
        <h3>STI Indicators</h3>
        <div class="row">
            <div class="col-lg-4 col-md-4 text-justify">
                <form method="POST">
                    <div class="col-lg-12 col-md-12">
                        <p><strong>Filters By Stage</strong></p>
                        <div class="row">
                            {% for st in stage %}
                                <div class="col-lg-9 col-md-9">
                                    {{ st.stage_title }}
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <input type="checkbox" class="test" name="{{ st.stage_title }}"  value="{{ st.stage_title }}" >
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </form>
                <hr>
                <p><strong>Filters By Pillars</strong></p>
                <div class="col-lg-12 col-md-12" name="append">
                    <div id="append" class="row">
                    </div>
                </div>
                <div class="col-lg-12 col-md-12"  name="append">
                    <div id="append1"  class="row">
                    </div>
                </div>
                <div class="col-lg-12 col-md-12" name="append">
                    <div id="append2"  class="row">
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <p class="text-center"><strong>Indicators</strong></p>
                <div id="indicator1" class="row">
                </div>
            </div>
        <div>

            </div>
        </div>
    </div>
    {% for i in indicator %}
        <p>{{ i.indicator_title }}</p>
    {% endfor %}
</div>
 {% endblock %}


{% block javascript %}
<script src="{% static 'js/check.js' %}"></script>
{% endblock javascript %}