{% extends 'index.html' %}
<title>{% block title %}STI Indicators{% endblock %}</title>
{% block content %}
<div class="container">
    <div class="col-lg-12 col-md-12">
        <h3>STI Indicators</h3>
        <div class="row">
            <div class="col-lg-4 col-md-4 text-justify">
                <p>Filters By Stage</p>
                <form method="post">{% csrf_token %}
                    <input type="checkbox"  name="pid" value="{{obj.pid}}"> pid
                    <input type="checkbox" checked name="title" value="{{obj.title}}"> title
                </form>

                <p>STI Eduction</p>
                <p>Research</p>
                <p>Innovation & Commercialization</p>
                <hr>
                <p>Filters By Pillars</p>
                <p>Infrastructure</p>
                <p>Human Resource</p>
                <p>Finance</p>
                <p>Policies and Programs</p>


            </div>
            <div>

            </div>
        </div>

    </div>
</div>
 {% endblock %}


