{% extends 'index.html' %}
<title xmlns="http://www.w3.org/1999/html">{% block title %}Website Policies{% endblock %}</title>
{% block content %}
<div class="container">
    <div class="col-lg-12 col-md-12">
        <h3>Website Policies</h3>
        <div class="row">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                     <h2 class="accordion-header" id="headingOne">
                         <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Copyright Policy
                         </button>
                     </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">Material featured on this Portal may be reproduced free of charge after taking proper permission by sending a mail to us.
                            However, the material has to be reproduced accurately and not to be used in a derogatory manner or in a misleading context.
                             Wherever the material is being published or issued to others, the source must be prominently acknowledged.
                            However, the permission to reproduce this material shall not extend to any material which is identified as being copyright of a third party.
                            Authorisation to reproduce such material must be obtained from the departments/copyright holders concerned.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Privacy Policy
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Thanks for visiting our website of Science, Technology & Innovation Observatory, Punjab, India and reviewing our privacy policy.</p>
                            <p>We collect no personal information, like names or addresses, when you visit our website. If you choose to provide that information to us, it is only used to fulfil your request for information.
                                We do collect some technical information when you visit to make your visit seamless. </p>
                            <p>The  section  below  explains  how  we  handle  and  collect  technical information when you visit our website.
                            Information collected and stored automatically:</p>
                            <p>When you browse, read pages, or download information on this website, we automatically gather and store certain technical information about your visit. This  information  never  identifies  who  you  are.  The  information  we  collect and store about your visit is listed below:</p>
                            <ol>
                                <li>The  Internet  domain  of  your  service  provider  (e.g.  mtnl.net.in) and IP address (an IP address is a number that is automatically assigned  to  your
                                    computer  whenever  you  are  surfing the  web) from which you access our website.</li>
                                <li>The  type  of  browser  (such  as  Firefox,  Netscape,  or  Internet Explorer) and operating system (Windows, Linux) used to access our site.</li>
                                <li>The date and time you access/accessed our site.</li>
                                <li>The pages/URLs you have visited, and </li>
                                <li>If you reached this website from another website, the address of that referring website.</li>
                            </ol>
                            <p>This information is only used to help us make the site more useful for you. With this data, we learn about the number of visitors to our site and the types of technology our visitors use.  We never track or record information about individuals and their visits.</p>
                            <p></p><strong>Cookies:</strong></p>
                            <p>When  you  visit  some  websites,  they  may  download  small  pieces  of  software  on your computer/browsing device known as cookies.  Some cookies collect personal information to recognise your computer in the future.  We only use non-persistent cookies or “per-session cookies”.
                            Per-session  cookies  serve  technical  purposes,  like  providing  seamless  navigation through  this  website.  These  cookies  do  not  collect  personal  information  on users and they are deleted as soon as you leave our website. The cookies do not permanently record data and they are not stored on your computer’s hard drive.
                                The cookies are stored in memory and are only available during an active browser session. Again, once you close your browser, the cookie disappears.</p>
                            <p>If you send us personal information:</p>
                            <p>We do not collect personal information for any purpose other than to respond to you (for example, to respond to your questions or
                               provide subscriptions you have chosen). If you choose to provide us with personal information, like filling out a Contact Us form,
                               with an e-mail address or postal address, we use that information to respond to your message, and to help you get the information
                               you  have requested. We only share the information you give us with another Government agency if your question relates to that agency, or as otherwise required by law.
                               Our website never collects information or creates individual profiles for commercial marketing.While you must provide
                               an email address for a localised response to any  incoming  questions  or  comments  to  us,  we  recommend  that  you  do  NOT include any other personal information.
                            </p>
                            <p><strong>Site Security:</strong></p>
                            <ol>
                                <li>
                                    For  site  security  purposes  and  to  ensure  that  this  service  remains available  to  all  users,  this  Government  computer  system
                                    employs commercial software programs to monitor network traffic to identify unauthorised attempts to upload or change information, or otherwise cause damage.
                                </li>
                                <li>
                                    Except  for  authorised  law  enforcement  investigations,  no  other attempts are made to identify individual users or their usage habits.
                                    Raw  data  logs  are  used  for  no  other  purposes  and  are  scheduled  for regular deletion.
                                </li>
                                <li>
                                    Unauthorised attempts to upload information or change information on this service are strictly prohibited and may be punishable under the Indian IT Act (2000)
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Hyperlink Policy
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            We do not object to you linking directly to the information that is hosted on our site and no prior permission is required for the same.
                            However, we would like you to inform us about any links provided to our site so that you can be informed of any changes or updations therein.
                            Also, we do not permit our pages to be loaded into frames on your site.
                            Science, Technology & Innovation Observatory, Punjab, India. pages must load into a newly opened browser window of the user.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Content Archival Policy
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            The latest news and spotlight items will be archived automatically after entering end date from the date of their publishing.
                            All news/ tenders/ notices /announcements /press releases are archived after the given expiry date.
                            The expiry date is entered by the web manager while entering the details with due approval from the respective department.

                            Any item from Archives will be taken off only after the approval of web information manager or concern authority (written communication through email).
                            Such items, though not visible in archive, remain in the CMS database and can be accessed from Database if required.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Website Monitoring Plan
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                <li>
	                                <strong>Application Performance</strong>
                                </li>
                            </ul>
                            <p><strong>Frequency:</strong> Monthly</p>
                            <p>Application performance and availability is monitored using tool www.monitor.us. This tool provides specific Status Report generated on every day and user can get this report on his mail ID in 24 hr.</p>
                            <p>Tools Used: http://www.monitor.us/</p>

                            <ul><li>
	<h3><strong>Website Availability &amp; Performance</strong></h3>
	</li>
</ul><p><strong>Frequency:</strong> Monthly</p>

<p>Host of servers including web server and database servers are monitored periodically to ensure high availability and smooth functioning of the website.</p>

<p>Tools Used: https://tools.pingdom.com</p>

<ul><li>
	<h3><strong>Hyperlink Accuracy</strong></h3>
	</li>
</ul><p><strong>Frequency:</strong> Quarterly</p>

<p><strong>Process:</strong> While uploading of the content concerned division, checks for the hyperlink content posted on the page.</p>

<p>Administrator monthly visits all hyperlinks in the content on all the pages and tests the Hyperlink for the accuracy. The result is then shared with the respective uploading division.</p>

<p><strong>Tools Used</strong>: Manually</p>

<p><strong>Audit Log:</strong> The logs are maintained for audit purposes</p>

<ul><li>
	<h3><strong>Presence on the National Portal</strong></h3>
	</li>
</ul><p><strong>Frequency</strong>: Quarterly</p>

<p><strong>Process:</strong> Administrator monthly visits the national portal for presence of the content /details related to Amritsar Development Authority &amp; (Government of Punjab) website.</p>

<p>Web information Manager should register all the relevant documents with National Portal and is advised to visit National Portal www.india.gov.in for the same, and he should ensure that all the Citizen Services, Forms, Documents and Schemes are registered with the respective repositories over the National Portal. He is advised to use various mode of communication i.e. email, Letter, etc. with National Portal admin department to update their services and schemes over the national portal.</p>

<ul><li>
	<h3><strong>Broken link Check</strong></h3>
	</li>
</ul><p><strong>Frequency:</strong> Quarterly</p>

<p>Broken links on the website are checked every Quarterly using the W3C developer tool from “Link Checker” by using broken link checker and also ‘page not found’ errors are investigated. These ‘Page not found’ errors are reported to web information manager and WIM assign to the developer for immediate resolution.</p>

<p>Also, the Website is checked for dead links and these are removed immediately from the website. Validation of both internal and external URLs is done fortnightly.</p>

<p><strong>Tools Used:</strong> Link Checker</p>

<p><strong>Audit Log: </strong>The logs are maintained in the Admin Panel for audit purposes</p>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 {% endblock %}