{% extends 'Home.html' %}
{% load static %}

<title>{% block title %}STI Indicators{% endblock %}</title>
{% block content %}
<div class="container-fluid">
    <img src="{% static 'images/indicator_slide.png' %}" width="100%" height="200px"/>
    <div class="bread">
        <nav class="container" style="--bs-breadcrumb-divider: '>>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'Home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">STI Indicators</li>
            </ol>
        </nav>
     </div>
</div>
<div class="container all">
    <div class="col-lg-12 col-md-12">
        <div class="row">
            <div class="col-lg-3 col-md-3">
            </div>
            <div class="col-lg-9 col-md-9 indicator-heading">
                <h3>STI Indicators</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <form method="POST">
                    <div class="col-lg-12 col-md-12">
                        <p class="filters">Filters By Stage</p>
                        <div class="row filterDiv">
                            <hr style="width:82%;text-align:left;margin-top:5px;">
                            {% for st in stage %}
                                    <a href="#" class="row"><div id="{{ st.stage_title }}" class="col-lg-9 col-md-9">{{ st.stage_title }}</div>
                                    <div class="col-lg-3 col-md-3 stageDiv" >
                                        <input type="checkbox" class="stage" name="{{ st.stage_title }}" value="{{ st.stage_title }}"/>
                                    </div><hr style="width:85%;text-align:left;margin-top:10px;">
                                    </a>
                            {% endfor %}
                        </div>
                    </div>
                </form>

                <div class="col-lg-12 col-md-12">
                    <p class="filters">Filters By Pillars</p>
                    <hr style="width:87%;text-align:left;margin-left:-10px;margin-top:5px;">
                    <div id="pillarDiv" class="row filterDiv">

                    </div>
                </div>

                <div class="col-lg-12 col-md-12 indi_div" >
                    <p class="filters">List of Indicators</p>
                    <hr style="width:87%;text-align:left;margin-left:-10px;margin-top:5px;">
                    <form method="POST">
                        <div id="indicator1" class="row filterDiv">
                        </div>
                    </form>
                </div>

            </div>
            <div class="col-lg-9 col-md-9">
                <div id="STI_info" class="col-lg-12 col-md-12">
                    <p>The Science, Technology & Innovation (STI) Observatory of Punjab is Country’s first-of-its-kind
                        State-level Knowledge Gateway supported by Department of Science & Technology, Government of India.
                        The platform showcases STI Ecosystem of the State viz. infrastructure, human resources, policies,
                        programs, investment etc. captured from key STI partners viz. Public & Private Research Organizations,
                        Universities, Development Departments, Industries, NGOs etc.
                        It is a single-stop digital platform which highlights holistic data on 65+ STI indicators encompassing
                        the entire pipeline viz. Education, Research, Innovation & Commercialization as well as reflects
                        accomplishments, achievements and available expertise within the State.
                        The Open Access State Nodal Repository also features dedicated resource pooling platform viz.
                        Instrumentation Facilities, Technology Platform, Researchers Network, IP Portfolio etc.
                        to be leveraged by different stakeholders. The Observatory, in future, envisages to plug in and feed
                        the National STI Observatory to be set up by O/o Principal Scientific Advisor to Govt. of India
                        and Department of Science & Technology, Govt. of India as a part of new National STI Policy.</p></div>
                <div id="indicator2" class="row">
                </div>
            </div>
        </div>
    </div>
</div>
 {% endblock %}


{% block javascript %}
<script src="{% static 'js/indicator_check.js' %}"></script>
<script src="{% static 'js/canvas.js' %}"></script>
<script type="text/javascript" src="https://e.infogram.com/js/dist/embed.js?1NZ"></script>
<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
{% endblock javascript %}

